#top,
#bottom,
#left,
#right {
  background: #00008b;
  position: fixed;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 8px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 8px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

body {
  background-color: orange;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

ul {
  color: white;
}

li {
  color: white;
}

/* Style the buttons inside the tab */

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}